<!doctype html>
<html>
   <body>
   <h1>ZotWb Basic Configuration</h1>
   <p>These are the values you saved for basic configuration.</p>
   <table border = 1>
         {% for key in result %}
       {% if key.startswith('prop') %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ result[key] }} </td>
            </tr>
       {% else %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ result[key] }} </td>
            </tr>
       {% endif %}
         {% endfor %}
      </table>

   </body>
</html>


