<!doctype html>
<html>
<head>
<link href="static/favicon.ico" rel="shortcut icon"/>
    <title><img src="static/favicon.ico" alt="ZotWb logo" />Creators CSV for Open Refine - ZotWb</title>
</head>
<body>
<h1><img src="static/favicon.ico" alt="ZotWb logo" /> ZotWb Creatordata import from Open Refine</h1>
{% if message %}<p style = "{{ msgcolor }}">{{ message }}<br>{% endif %}
<p> <small>(Back to <a href="/">start page</a>)</small></p>
<p>On this page, you do the upload of reconciled creator data to {{ wikibase_name }}.</p>
<h2>Currently loaded dataset</h2>
{{ recon_wd }}
</body>
</html>
