<!doctype html>
<html>
<body>
<h1>ZotWb Wikibase-Wikidata mapping configuration</h1>
{% if message %}<p style = "{{ msgcolor }}">{{ message }}<br>{% endif %}
   <p> <small>(Back to <a href="/">start page</a>)</small></p>
Prefix 'wb:' your <a href="{{ wikibase_url }}">{{ wikibase_name }} Wikibase</a>. Prefix 'wd:' <a href="https://www.wikidata.org">Wikidata</a>'.</br>
Update the mapping of your own and Wikidata properties. Datatype has to be the same.</br>
Have there been changes on the properties on your Wikibase not caused by this tool? <small> 'mapping/properties.json' was last modified on {{ propcachedate }}.</small></br>
<form style="display: inline;" method="POST">
    <button name="update_cache" type="submit">Update mapping file</button>
</form> to update 'mappings/properties.json' with a SPARQL query for {{ wikibase_name }} properties.</br>
If you update a property value, you don't need to
</p>
<h2>Properties mapping</h2>
<ul>{% for wbprop in properties: %}
    <li style="margin: 10px 0;" > <a href="{{ wikibase_entity_ns }}{{ wbprop }}">wb:{{ wbprop }}</a> "<b>{{ properties[wbprop]['enlabel'] }}</b>" &#11020;
        {% if properties[wbprop]['wdprop'] %}
<a href="http://www.wikidata.org/entity/{{ properties[wbprop]['wdprop'] }}">wd:{{ properties[wbprop]['wdprop'] }}</a>
        {% else %}
        No alignment
        {% endif %}
        <input style="display: inline;" type="text" placeholder={{ properties[wbprop]['wdprop'] }} name = {{ wbprop }} style="width: 40px;" />
    <input type="submit" value="Update this">
        {% if properties[wbprop]['wdprop'] %}

<form style="display: inline;" method="POST">
    <button style="display: inline;" name={{ wbprop + '_redo' }} type="submit">Import wd:{{ properties[wbprop]['wdprop'] }} to wb:{{ wbprop }}</button>
</form>
{% endif %}
       <small><i>Property datatype: {{ properties[wbprop]['type'] }}</i></small>

</li>{% endfor %}
</ul>
</body>
</html>